<section class="vh-100">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h3 class="text-center mb-3 text-primary"> Đổi Mật Khẩu </h3>
        <form [formGroup]="validForm">
          <div class="form-outline mb-4">
            <label class="form-label">Tên Tài Khoản</label>
            <div class="form-control form-control-lg"> {{ getUsername() }} </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Mật Khẩu Cũ<span class="text-danger">*</span></label>
            <input formControlName="passOld" [(ngModel)]="user.passOld" type="password" class="form-control form-control-lg" />
            <div *ngIf="validForm.controls['passOld'].invalid && validForm.controls['passOld'].touched" class="text-danger">
              <small *ngIf="validForm.controls['passOld'].errors?.['required']"> Mật khẩu cũ không được để trống </small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Mật Khẩu Mới<span class="text-danger">*</span></label>
            <input formControlName="passNew" [(ngModel)]="user.passNew" type="password" class="form-control form-control-lg" />
            <div *ngIf="validForm.controls['passNew'].invalid && validForm.controls['passNew'].touched" class="text-danger">
              <small *ngIf="validForm.controls['passNew'].errors?.['required']"> Mật khẩu mới không được để trống </small>
              <small *ngIf="validForm.controls['passNew'].hasError('minlength')"> Mật khẩu mới phải lớn hơn 6 ký tự </small>
              <small *ngIf="validForm.controls['passNew'].hasError('maxlength')"> Mật khẩu mới phải nhỏ hơn 18 ký tự </small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Nhập Lại Mật Khẩu Mới<span class="text-danger">*</span></label>
            <input formControlName="passConfirm" [(ngModel)]="user.passConfirm" type="password" class="form-control form-control-lg" />
            <div *ngIf="validForm.controls['passConfirm'].invalid && validForm.controls['passConfirm'].touched" class="text-danger">
              <small *ngIf="validForm.controls['passConfirm'].errors?.['required']"> Mật khẩu nhập lại không được để trống </small>
              <small *ngIf="validForm.controls['passConfirm'].hasError('minlength')"> Mật khẩu nhập lại phải lớn hơn 6 ký tự </small>
              <small *ngIf="validForm.controls['passConfirm'].hasError('maxlength')"> Mật khẩu nhập lại phải nhỏ hơn 18 ký tự </small>
            </div>
          </div>

          <button [disabled]="validForm.invalid" (click)="changePassword()" class="btn btn-primary btn-lg btn-block">Đổi Mật Khẩu</button>
          <button [routerLink]="['/home']"  class="btn btn-success btn-lg btn-block">Hủy</button>
        </form>
      </div>
    </div>
  </div>
</section>
