<!-- <section class="vh-100">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
  </div> -->
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
    <h1 class="font-weight-semi-bold text-uppercase">Checkout</h1>
  </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold">Địa Chỉ Giao Hàng</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="validForm">
            <div class="form-group">
              <label>Họ và Tên</label>
              <input formControlName="fullname" [(ngModel)]="checkouts.fullname" class="form-control" type="text">
              <div *ngIf="validForm.controls['fullname'].invalid && validForm.controls['fullname'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['fullname'].errors?.['required']"> Họ và tên không được để
                  trống</small>
                  <small *ngIf="validForm.controls['fullname'].errors?.['pattern']"> Họ và tên không đúng ký tự</small>
                <small *ngIf="validForm.controls['fullname'].hasError('minlength')"> Họ và tên phải lớn hơn 5 ký
                  tự</small>
                <small *ngIf="validForm.controls['fullname'].hasError('maxlength')"> Họ và tên phải nhỏ hơn 20 ký
                  tự</small>
              </div>
            </div>
            <div class="form-group">
              <label>Số điện thoại</label>
              <input formControlName="phone" [(ngModel)]="checkouts.phone" class="form-control" type="text">
              <div *ngIf="validForm.controls['phone'].invalid && validForm.controls['phone'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['phone'].errors?.['required']"> Số điện thoại không được để
                  trống</small>
                <small *ngIf="validForm.controls['phone'].errors?.['pattern']"> Số điện thoại không đúng ký tự
                </small>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Chọn Tỉnh/Thành Phố</label>
              <ng-select formControlName="province" [(ngModel)]="checkouts.province" class="form-select">
                <ng-option *ngFor="let p of province" [value]="p.ProvinceID" (click)="getDistrict(p.ProvinceID)">
                   {{p.ProvinceName}}
                </ng-option>
              </ng-select>
              <div
                *ngIf="validForm.controls['province'].invalid && validForm.controls['province'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['province'].errors?.['required']"> Tỉnh/Thành Phố không được để trống</small>
              </div>
            </div>
            <div class="form-group mt-3">
              <label>Chọn Quận/Huyện</label>
              <ng-select formControlName="district" [(ngModel)]="checkouts.district" class="form-select">
                  <ng-option *ngFor="let d of district" [value]="d.DistrictID" (click)="getWard(d.DistrictID);">
                    {{d.DistrictName}}</ng-option>
              </ng-select>
              <div
                *ngIf="validForm.controls['district'].invalid && validForm.controls['district'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['district'].errors?.['required']"> Quận/Huyện không được để trống</small>
              </div>
            </div>
            <div class="form-group mt-3">
              <label>Chọn Phường/Xã</label>
              <select formControlName="ward" [(ngModel)]="checkouts.ward" class="form-select">
                  <option *ngFor="let w of ward" [value]="w.WardCode">
                    {{w.WardName}}</option>
              </select>
              <div
                *ngIf="validForm.controls['ward'].invalid && validForm.controls['ward'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['ward'].errors?.['required']"> Phường/Xã không được để trống</small>
              </div>
            </div> -->

            <div>
              <mat-form-field appearance="fill">
                <mat-label>Chọn Tỉnh/Thành phố</mat-label>
                <mat-select formControlName="province"
                 [(ngModel)]="checkouts.province">
                 <mat-option *ngFor="let p of province" [value]="p.ProvinceID"
                    (click)="getDistrict(p.ProvinceID)">
                    {{p.ProvinceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="validForm.controls['province'].invalid && validForm.controls['province'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['province'].errors?.['required']"> Tỉnh/Thành Phố không được để trống</small>
              </div>
            </div>

              <div>
              <mat-form-field appearance="fill">
                <mat-label>Chọn Quận/Huyện</mat-label>
                <mat-select formControlName="district" [(ngModel)]="checkouts.district">
                  <mat-option *ngFor="let d of district" [value]="d.DistrictID"
                    (click)="getWard(d.DistrictID);">
                    {{d.DistrictName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="validForm.controls['district'].invalid && validForm.controls['district'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['district'].errors?.['required']"> Quận/Huyện không được để trống</small>
              </div>
            </div>

            <div>
              <mat-form-field appearance="fill">
                <mat-label>Chọn Phường/Xã</mat-label>
                <mat-select formControlName="ward" [(ngModel)]="checkouts.ward">
                  <mat-option [value]="checkouts.ward" >
                    {{provinceName}}
                  </mat-option>
                  <mat-option *ngFor="let w of ward" [value]="w.WardCode" (click)="getWardName(w.WardName)">
                    {{w.WardName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="validForm.controls['ward'].invalid && validForm.controls['ward'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['ward'].errors?.['required']"> Phường/Xã không được để trống</small>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Thông Tin Sản Phẩm</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let cart of carts" class="row mt-0">
            <div class="col-lg-3">
              <img src="{{ cart.image }}" style="height: 50px; width: 50px;">
            </div>
            <div class="col-lg-3">
              <p>{{ cart.quantity }}x&emsp;{{ cart.name }}</p>
            </div>
            <div class="col-lg-3">
              <p>&emsp;{{ cart.price | number }} VND</p>
            </div>
            <div class="col-lg-3">
              <p>{{ cart.total | number }} VND</p>
            </div>
            <hr class="mt-0">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Đơn Hàng</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h5 class="font-weight-medium mb-3">{{ quantityCart }} Sản Phẩm</h5>
            <a class="font-weight-medium mb-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">xem chi tiết</a>
          </div>
          <div class="collapse" id="collapseExample">
            <div *ngFor="let cart of carts" class="d-flex justify-content-between">
              <p>{{ cart.quantity }}x&emsp;{{ cart.name }}</p>
              <p>{{ cart.price | number }} VND</p>
            </div>
          </div>
          <hr class="mt-0">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Tổng Tiền</h6>
            <h6 class="font-weight-medium">{{ totalAmount | number }} VND</h6>
          </div>
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Phí Giao Hàng</h6>
            <h6 class="font-weight-medium">{{ shippingTotal | number }} VND</h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Thành Tiền:</h5>
            <h5 class="font-weight-bold">{{ getAmount() | number }} VND</h5>
          </div>
        </div>
      </div>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Hình Thức Thanh Toán</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <!--  -->

            <p *ngFor="let pay of pays">
              <input type="radio" name="payment" [(ngModel)]="checkouts.paymentId" value="{{ pay.id }}" data-bs-toggle="collapse" href="#collapseExample2"
                (click)="getOnePayment1(pay.id)" role="button" aria-expanded="false" aria-controls="collapseExample2"
                id="check" checked />

              <label data-bs-toggle="collapse" for="check"> {{ pay.name }}</label>
              <!-- <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                  Button with data-bs-target
                </button> -->
            </p>
            <div class="collapse mb-3" id="collapseExample2">
              <img src="{{payment.image}}" class="w-50 h-50" alt="">
            </div>
            <!-- ---------------------------- -->
            <p *ngFor="let pay1 of pays1">
              <input type="radio" name="payment" [(ngModel)]="checkouts.paymentId" value="{{ pay1.id }}" data-bs-toggle="collapse" href="#collapseExample"
                (click)="getOnePayment2(pay1.id)" role="button" aria-expanded="false" aria-controls="collapseExample"
                id="check1" />

              <label data-bs-toggle="collapse" for="check1"> {{ pay1.name }}</label>
              <!-- <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                  Button with data-bs-target
                </button> -->
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Quý khách chuyển khoản trước theo thông tin dưới đây :
                <br />
                •Vietcombank chi nhánh Hoàn Kiếm - 0301 000 426 596<br />
                •Techcombank chi nhánh Đống Đa - 1913 506 287 3012<br />
                •ACB chi nhánh Đông Đô (Phòng giao dịch Kim Liên) - 888 995 8888<br />
                •Vietinbank chi nhánh Nam Thăng Long - 119 002 805 268<br />
                •BIDV chi nhánh Hà Thành - 1221 000 201 8450<br />
              </div>
            </div>

            <!--  -->



          </div>
        </div>
      </div>
      <div>
        <button [disabled]="validForm.invalid" (click)="checkoutProduct()" class="btn btn-lg btn-block btn-primary">Đặt
          Hàng</button>
        <button [routerLink]="['/cart']" class="btn btn-lg btn-block btn-primary">Quay Lại</button>
      </div>
    </div>
  </div>
</div>
<!-- Checkout End -->
<!-- </section> -->
