<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
    <h1 class="font-weight-semi-bold text-uppercase">Order</h1>
  </div>
</div>

<div class="container-fluid pt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/list-order']">Chờ Xác Nhận ({{ count1 }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/list-order-confirm']">Đã Xác Nhận ({{ count2 }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/list-order-shipping']">Chờ Lấy Hàng ({{ count3 }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active text-dark bg-primary" aria-current="page" [routerLink]="['/list-order-ship-success']">Đã Nhận Hàng ({{ count4 }})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/list-order-cancel']">Đã Hủy ({{ count5 }})</a>
    </li>
  </ul>
  <table class="table table-bordered mt-3">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Họ và Tên</th>
        <th>Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Phí Giao Hàng</th>
        <th>Tổng Tiền</th>
        <th>Trạng Thái</th>
        <th colspan="2">Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let order of orders; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ order.fullname }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.shipping | number }} VND</td>
        <td>{{ order.grandTotal | number }} VND</td>
        <td class="text-success">{{ order.status }}</td>
        <td><button [routerLink]="['/order-detail', order.id]" class="btn btn-primary"><i
          class="fas fa-eye text-white"></i></button>
      <button (click)="reOrderIntoCart(order.id)" class="btn btn-primary ml-2"><i
          class="fas fa-shopping-cart text-white"></i></button>
    </td>
      </tr>
    </tbody>
  </table>
</div>


