<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Order Detail</h1>
  </div>
</div>

<button [routerLink]="['/list-order']" class="btn btn-primary ms-5"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg> Quay Lại </button>

<div class="container-fluid pt-5">
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Tên Sản Phẩm</th>
        <th>Hình Ảnh</th>
        <th>Số Lượng</th>
        <th>Giá</th>
        <th>Tổng Tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderDe of orderDetails; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ orderDe.productId }}</td>
        <td><img src="{{ orderDe.image }}" style="height: 100px; width: 100px;"></td>
        <td>{{ orderDe.quantity }}</td>
        <td>{{ orderDe.price | number }} VND</td>
        <td>{{ orderDe.total | number }} VND</td>
      </tr>
    </tbody>
  </table>
</div>
