<section class="vh-100">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="/assets/img/logo.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h3 class="text-center mb-3 text-primary"> Quên Mật Khẩu </h3>
        <form [formGroup]="validForm">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label">Email<span class="text-danger">*</span></label>
            <input formControlName="email" [(ngModel)]="user.email" type="text" class="form-control form-control-lg"/>
            <div *ngIf="validForm.controls['email'].invalid && validForm.controls['email'].touched" class="text-danger">
              <small *ngIf="validForm.controls['email'].errors?.['required']"> Email không được để trống </small>
              <small *ngIf="validForm.controls['email'].errors?.['pattern']"> Email không đúng ký tự </small>
            </div>
          </div>

          <!-- Submit button -->
          <button [disabled]="validForm.invalid" (click)="forgotPassword()" type="submit" class="btn btn-primary btn-lg btn-block">Đồng Ý</button>
          <button [routerLink]="['/login']" type="submit" class="btn btn-success btn-lg btn-block">Quay Lại</button>
        </form>
      </div>
    </div>
  </div>
</section>


